<a href="https://colab.research.google.com/github/Cliffochi/DataAnalysis/blob/main/all_python_for_DS_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This code is an example for nested loops  
Prints all the tiles in a game of dominos

In [ ]:
for left in range(7):
  for right in range(left, 7):
    print(f"[{left}, {right}]", end=" ")
  print('\n')

[0, 0] [0, 1] [0, 2] [0, 3] [0, 4] [0, 5] [0, 6]

[1, 1] [1, 2] [1, 3] [1, 4] [1, 5] [1, 6]

[2, 2] [2, 3] [2, 4] [2, 5] [2, 6]

[3, 3] [3, 4] [3, 5] [3, 6]

[4, 4] [4, 5] [4, 6]

[5, 5] [5, 6]

[6, 6]

Data conversion in python

In [8]:
# int to float
print(float(2))
print(type(float(2)))

# float to int
print(int(3.5))
print(type(int(3.5)))

# lets try convert a floating point number using float and see what happens
print(float(2.0))
print(type(float(2.0)))

# lists and tuples
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_temperatures)
print(type(monthly_average_temperatures))

# lists are mutable
print(monthly_average_temperatures[5])
monthly_average_temperatures[5] = 24
print(monthly_average_temperatures[5])

#slicing
print(monthly_average_temperatures[3:8])

# extraction at a specified interval
print(monthly_average_temperatures[0:7:2])
print(monthly_average_temperatures[::5])

# length of a list
print(len(monthly_average_temperatures))

# list methods
numbers = [0, 1, 2, 3]
numbers.append(5)
print(numbers)

[0, 1, 2, 3, 4, 5]